 #============= hal_camera_default ==============
allow hal_camera_default aac_drc_prop:file { getattr map open };
allow hal_camera_default ab_update_gki_prop:file { getattr map open };
allow hal_camera_default adbd_config_prop:file { getattr map open };
allow hal_camera_default adbd_prop:file { getattr map open };
allow hal_camera_default apexd_config_prop:file { getattr map open };
allow hal_camera_default apexd_prop:file { getattr map open };
allow hal_camera_default apk_verity_prop:file { getattr map open };
allow hal_camera_default audio_config_prop:file { getattr map open };
allow hal_camera_default audio_prop:file { getattr map open };
allow hal_camera_default bluetooth_a2dp_offload_prop:file { getattr map open };
allow hal_camera_default bluetooth_audio_hal_prop:file { getattr map open };
allow hal_camera_default bluetooth_prop:file { getattr map open };
allow hal_camera_default boot_status_prop:file { getattr map open };
allow hal_camera_default bootanim_config_prop:file { getattr map open };
allow hal_camera_default bootanim_system_prop:file { getattr map open };
allow hal_camera_default bootloader_boot_reason_prop:file { getattr map open };
allow hal_camera_default boottime_prop:file { getattr map open };
allow hal_camera_default boottime_public_prop:file { getattr map open };
allow hal_camera_default bpf_progs_loaded_prop:file { getattr map open };
allow hal_camera_default build_bootimage_prop:file { getattr map open };
allow hal_camera_default build_config_prop:file { getattr map open };
allow hal_camera_default camera2_extensions_prop:file { getattr open };

#============= hal_fingerprint_default ==============
allow hal_fingerprint_default system_prop:file { getattr map open read };

#============= hal_nfc_default ==============
allow hal_nfc_default default_android_hwservice:hwservice_manager find;

#============= hal_sensors_default ==============
allow hal_sensors_default default_prop:file { getattr map open read };

#============= hwservicemanager ==============
allow hwservicemanager init:binder transfer;

#============= init ==============
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hal_power_service:service_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init proc:file setattr;
allow init same_process_hal_file:file execute;
allow init servicemanager:binder { call transfer };
allow init system_file:dir relabelfrom;
allow init system_file:file relabelfrom;
allow init system_file:lnk_file relabelfrom;
allow init vendor_configs_file:file relabelfrom;
allow init vendor_file:file { execute execute_no_trans };
allow init vendor_hal_perf_default:binder call;
allow init vendor_hal_perf_hwservice:hwservice_manager find;
allow init vendor_hbtp_kernel_sysfs:file { open read write };
allow init vendor_overlay_file:file relabelfrom;

#============= mi_thermald ==============
allow mi_thermald self:capability dac_override;

#============= odrefresh ==============
allow odrefresh self:capability kill;

#============= surfaceflinger ==============
allow surfaceflinger init:binder call;

#============= system_server ==============
allow system_server init:binder call;

#============= system_suspend ==============
allow system_suspend sysfs:dir { open read };
allow system_suspend sysfs:file { getattr open read };

#============= vendor_init ==============
allow vendor_init block_device:lnk_file setattr;

#============= vendor_qti_init_shell ==============
allow vendor_qti_init_shell sysfs_wakeup:file setattr;

#============= zygote ==============
allow zygote aac_drc_prop:file { getattr map open };
allow zygote ab_update_gki_prop:file { getattr map open };
allow zygote adbd_config_prop:file { getattr map open };
allow zygote adbd_prop:file { getattr map open };
allow zygote apexd_config_prop:file { getattr map open };
allow zygote apexd_prop:file { getattr map open };
allow zygote apk_verity_prop:file { getattr map open };
allow zygote audio_config_prop:file { getattr map open };
allow zygote bluetooth_a2dp_offload_prop:file { getattr map open };
allow zygote bluetooth_audio_hal_prop:file { getattr map open };
allow zygote bluetooth_prop:file { getattr map open };
allow zygote bootanim_config_prop:file { getattr map open };
allow zygote bootanim_system_prop:file { getattr map open };
allow zygote bootloader_boot_reason_prop:file { getattr map open };
allow zygote boottime_prop:file { getattr map open };
allow zygote boottime_public_prop:file { getattr map open };
allow zygote bpf_progs_loaded_prop:file { getattr map open };
allow zygote build_bootimage_prop:file { getattr map open };
allow zygote build_config_prop:file { getattr map open };
allow zygote camera2_extensions_prop:file { getattr map open };
allow zygote camera_calibration_prop:file { getattr map open };
allow zygote camerax_extensions_prop:file { getattr map open };
allow zygote charger_config_prop:file { getattr map open };
allow zygote charger_prop:file { getattr map open };
allow zygote charger_status_prop:file { getattr map open };
allow zygote codec2_config_prop:file { getattr map open };
allow zygote cold_boot_done_prop:file { getattr map open };
allow zygote cpu_variant_prop:file { getattr map open };
allow zygote ctl_adbd_prop:file { getattr map open };
allow zygote ctl_apexd_prop:file { getattr map open };
allow zygote ctl_bootanim_prop:file { getattr map open };
allow zygote ctl_bugreport_prop:file { getattr map open };
allow zygote ctl_console_prop:file { getattr map open };
allow zygote ctl_default_prop:file { getattr map open };
allow zygote ctl_dpmd_prop:file { getattr map open };
allow zygote ctl_dumpstate_prop:file { getattr map open };
allow zygote ctl_fuse_prop:file { getattr map open };
allow zygote ctl_gsid_prop:file { getattr map open };
allow zygote ctl_interface_restart_prop:file { getattr map open };
allow zygote ctl_interface_start_prop:file { getattr map open };
allow zygote ctl_interface_stop_prop:file { getattr map open };
allow zygote ctl_mdnsd_prop:file { getattr map open };
allow zygote ctl_mediatranscoding_prop:file { getattr map open };
allow zygote ctl_odsign_prop:file { getattr map open };
allow zygote ctl_restart_prop:file { getattr map open };
allow zygote ctl_rildaemon_prop:file { getattr map open };
allow zygote ctl_sigstop_prop:file { getattr map open };
allow zygote ctl_snapuserd_prop:file { getattr map open };
allow zygote ctl_start_prop:file { getattr map open };
allow zygote ctl_stop_prop:file { getattr map open };
allow zygote ctl_tcmd_prop:file { getattr map open };
allow zygote dck_prop:file { getattr map open };
allow zygote debugfs_restriction_prop:file { getattr map open };
allow zygote device_config_activity_manager_native_boot_prop:file { getattr map open };
allow zygote device_config_boot_count_prop:file { getattr map open };
allow zygote device_config_configuration_prop:file { getattr map open };
allow zygote device_config_connectivity_prop:file { getattr map open };
allow zygote device_config_input_native_boot_prop:file { getattr map open };
allow zygote device_config_media_native_prop:file { getattr map open };
allow zygote device_config_netd_native_prop:file { getattr map open };
allow zygote device_config_profcollect_native_boot_prop:file { getattr map open };
allow zygote device_config_reset_performed_prop:file { getattr map open };
allow zygote device_config_statsd_native_boot_prop:file { getattr map open };
allow zygote device_config_statsd_native_prop:file { getattr map open };
allow zygote device_config_storage_native_boot_prop:file { getattr map open };
allow zygote device_config_swcodec_native_prop:file { getattr map open };
allow zygote device_config_sys_traced_prop:file { getattr map open };
allow zygote device_logging_prop:file { getattr map open };
allow zygote deviceid_prop:file { getattr map open };
allow zygote drm_service_config_prop:file { getattr map open };
allow zygote dumpstate_options_prop:file { getattr map open };
allow zygote dynamic_system_prop:file { getattr map open };
allow zygote exported_bluetooth_prop:file { getattr map open };
allow zygote fastbootd_protocol_prop:file { getattr map open };
allow zygote ffs_control_prop:file { getattr map open };
allow zygote firstboot_prop:file { getattr map open };
allow zygote framework_watchdog_config_prop:file { getattr map open };
allow zygote gsid_prop:file { getattr map open };
allow zygote hal_dumpstate_config_prop:file { getattr map open };
allow zygote heapprofd_enabled_prop:file { getattr map open };
allow zygote hwservicemanager_prop:file { getattr map open };
allow zygote incremental_prop:file { getattr map open };
allow zygote init_perf_lsm_hooks_prop:file { getattr map open };
allow zygote init_svc_debug_prop:file { getattr map open };
allow zygote keyguard_config_prop:file { getattr map open };
allow zygote keystore_crash_prop:file { getattr map open };
allow zygote keystore_listen_prop:file { getattr map open };
allow zygote last_boot_reason_prop:file { getattr map open };
allow zygote llkd_prop:file { getattr map open };
allow zygote lmkd_prop:file { getattr map open };
allow zygote logpersistd_logging_prop:file { getattr map open };
allow zygote lower_kptr_restrict_prop:file { getattr map open };
allow zygote lowpan_prop:file { getattr map open };
allow zygote lpdumpd_prop:file { getattr map open };
allow zygote media_config_prop:file { getattr map open };
allow zygote mm_events_config_prop:file { getattr open };
allow zygote net_464xlat_fromvendor_prop:file open;
allow zygote perf_drop_caches_prop:file open;
allow zygote profcollectd_node_id_prop:file open;
allow zygote retaildemo_prop:file open;
allow zygote surfaceflinger_display_prop:file open;
allow zygote system_jvmti_agent_prop:file open;
allow zygote test_boot_reason_prop:file open;
allow zygote vehicle_hal_prop:file { getattr open };
allow zygote vendor_bootreceiver_prop:file { getattr map open };
allow zygote vendor_ctl_rild_prop:file { getattr map open };
allow zygote vendor_ctl_vendor_hbtp_prop:file { getattr map open };
allow zygote vendor_ctl_vendor_imsrcsservice_prop:file { getattr open };
allow zygote vendor_display_notch_prop:file { getattr map open };
allow zygote vendor_display_prop:file { getattr map open };
allow zygote vendor_fda_prop:file { getattr map open };
allow zygote vendor_pd_locater_dbg_prop:file { getattr map open };
allow zygote vendor_per_mgr_state_prop:file { getattr map open };
allow zygote vendor_persist_camera_prop:file { getattr map open };
allow zygote vendor_persist_rcs_prop:file { getattr map open };
allow zygote vendor_persist_tcm_prop:file open;
allow zygote vendor_soc_id_prop:file { getattr map open };
allow zygote vendor_soc_name_prop:file { getattr map open };
allow zygote vendor_spcomlib_prop:file { getattr map open };
allow zygote vendor_ssr_prop:file { getattr map open };
allow zygote vendor_sxr_prop:file { getattr open };
allow zygote vendor_usb_prop:file { getattr map open };
allow zygote vendor_video_prop:file { getattr open };

